<h1 class="display-4 my-5"><%= @todo_list.title %></h1>
<p class="lead"> 
  <%= @todo_list.description %>
</p>

<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Destroy', @todo_list, method: :delete, data: { confirm: 'Are you sure?' } unless current_user.first_name.downcase != 'pep' %> |
<%= link_to 'Back', todo_lists_path %>

<hr>

<h3>
  Number of tasks: <%= @todo_list.todo_items.count %> - 
  Number Completed: <%= @completed_items.count %>
</h3>

<div class="table-responsive">
  <table id="myTable" class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Task</th>
        <th>Notes</th>
        <th>Response</th>
        <th>Completed</th>
        <th>User</th>
      </tr>
    </thead>

    <tbody>
      <% @list_items.each do |todo| %>
        <tr class="<%= todo.completed ? 'table-success' : '' %>">
          <td><%= link_to todo.task, todo %></td>
          <td><%= truncate(todo.notes, length: 40) %></td>
          <td><%= truncate(todo.response, length: 40) %></td>
          <td><%= !todo.completed_at.nil? ? 'Yes' : 'No' %></td>
          <td><%= link_to todo.user.first_name, my_todos_path(user_id: todo.user.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<hr>
<h2>Add New Task</h2>
<%= render 'todo_items/form' %>